#OS junk files
[Tt]humbs.db
*.DS_Store

#Visual Studio files
*.[Oo]bj
*.user
*.exe
*.aps
*.pch
*.vspscc
*.vssscc
*_i.c
*_p.c
*.ncb
*.suo
*.tlb
*.tlh
*.bak
*.[Cc]ache
*.ilk
*.log
*.lib
*.sbr
*.sdf
*.opensdf
*.unsuccessfulbuild
ipch/
obj/
[Bb]in
[Dd]ebug*/
[Rr]elease*/
Ankh.NoLoad

# Nodejs packages directory
node_modules/

#MonoDevelop
*.pidb
*.userprefs

#Tooling
_ReSharper*/
*.resharper
_NCrunch_DNK*/
*ncrunch*
*crunch*.local.xml
[Tt]est[Rr]esult*
*.dotCover

#Nuget
packages/

#Subversion files
.svn

# Office Temp Files
~$*

#RavenDB
Tools/RavenDb.Server.v3.0.30037/Databases/
Tools/RavenDb.Server.v3.0.30037/CompiledIndexCache/
Tools/RavenDb.Server.v3.0.30037/Logs/
Tools/RavenDb.Server.v3.0.30037/Assemblies/
Tools/RavenDb.Server.v3.0.30037/local.config

Kampus.Web/css/
Kampus.Web/coverage/

.vs/
.sass-cache
*.edb

!build*/bin

node_modules/
jspm_packages/
bower_components
.idea
.DS_STORE
dist/
export/
Emails/
.vscode/

Kampus.Web/courses

# Kampus theme folder 
theme